/*******************************
            Global
*******************************/

html,
body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}

/*******************************
              Page
*******************************/

/* Hero ------------------------------------------------ */
.hero {
  background-color: #dff1e8;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__content > h1 {
  font-weight: 400;
  font-size: 36px;
  margin-top: 124px;
  max-width: 319px;
}

.hero__content > p {
  color: #555555;
  font-family: Lato;
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 56px;
  max-width: 406px;
}

.hero__content > button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.08) 100%), #4daf7c;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  cursor: pointer;
  font-family: Lato;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 112px;

  line-height: 18px;

  padding: 10px 14px;

  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

.hero__image {
  display: flex;
  align-items: center;
}

.hero__image > img {
  max-width: 578px;
}

/* Page ------------------------------------------------ */
.card__container {
  display: grid;
  grid-column-gap: 54px;
  grid-row-gap: 73px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 110px auto;
}

.card {
  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
  text-decoration: none;
}

.card__thumbnail {
  align-items: center;
  display: flex;
  background: linear-gradient(213.28deg, #2c2c2c 6.27%, #141414 93.56%), #2c2e30;
  height: 219px;
  justify-content: center;
}

.card__thumbnail img {
  position: absolute;

  width: 80px;
  height: 72px;
}

.card__content {
  padding: 32px;
}

.card__content h5 {
  color: #000000;
  font-family: Lato;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 17px;
}

.card__content p {
  color: #555555;
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.bottom {
  display: flex;
  background-image: url(./images/cta-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 253px;
  justify-content: space-around;
  text-align: center;
}

.bottom__box {
  max-width: 300px;
}

.bottom__box p {
  color: #7c7c7c;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
}

.bottom__box span {
  color: #339366;
}

/* Footer ---------------------------------------------- */
.footer {
  background-color: #202020;
  height: 56px;
}

.footer__container {
  align-items: center;
  display: flex;
  height: 100%;
}

.footer img {
  height: 20px;
  margin-right: 20px;
  width: 70px;
}

.footer p {
  color: #646464;
  font-size: 11px;
  line-height: 13px;
}

/*******************************
          Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .hero__container {
    /* border: 1px dashed red; */
    grid-template-columns: initial;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .hero__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero__content > button {
    margin-bottom: 64px;
  }

  .card__container {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .card__container {
    margin: 64px auto;
  }

  .card__thumbnail {
    height: 320px;
  }

  .bottom {
    flex-direction: column;
    align-items: center;
    height: initial;
    padding-bottom: 32px;
  }
}
